.App {
  font-family: sans-serif;
  text-align: center;
}
.fieldset {
  border-color: transparent;
  min-width: 90%;
}
input[name="file"] {
  width: 80%;
  max-width: 300px;
}
.hrText {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  /*opacity: 0.5;*/
}
.hrText::before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hrText::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 0.5em;
  line-height: 1.5em;

  color: #818078;
  background-color: rgb(207 220 255);
  border-radius: 25px;
}
.inputBarcode {
  margin-bottom: 15px;
  border: 2px solid darkblue;
  border-radius: 10px;
  height: 25px;
  font-family: "72";
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.card {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 2rem;
  padding-bottom: 10px;
  padding-top: 15px !important;
  margin-bottom: 20px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 1px 10px 3px rgb(37 37 37 / 76%);
  max-width: 700px;
  min-width: 300px;
  /*transition: 0.3s;*/
  background-color: rgba(187, 205, 255, 0.7);
}
/* On mouse-over, add a deeper shadow */
/*.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}*/
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

spinnerTextStyle {
  color: "#FFF";
}
padding {
  padding-bottom: 20px;
}
.scanner {
  margin-left: -10px;
  border-radius: 2rem;
}
.button {
  background-color: #5496cd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5rem;
}
.button:disabled {
  opacity: 0.5;
}
.card2 {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2rem;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 1px;
  max-width: 600px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(37, 37, 37, 0.76);
  /*transition: 0.3s;*/
  background-color: rgb(215, 235, 235);
  /*background-color: rgba(239, 255, 253, 0.637);*/
}
.TestoTestata {
  font-family: "72fallback", "72", "72full", Arial, Helvetica, sans-serif;
  padding-left: 20px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #333;
}

.Label {
  width: 100px;
  margin-right: 30px !important;
  font-family: "72";
  color: #666;
}
.LabelFolder {
  width: 100px;
  margin-right: 30px !important;
  font-weight: bold;
}
.LabelUpload {
  width: 100px;
  margin-right: 30px !important;
  font-weight: bold;
  margin-top: 30px !important;
}
.ImageLabel {
  margin-right: 20px !important;
}

.ImageUpload {
  margin-top: 20px !important;
  margin-right: 20px !important;
  margin-bottom: -10px !important;
}

.MessageFetch {
  color: red;
  font-weight: bold;
  font-family: monospace;
  font-size: 15px;
}

.ButtonSubmit {
  background-color: transparent;
  border: 0;
}

label {
  font-family: "72";
  color: #666;
}

.buttonLoadFoto {
  background-color: #5496cd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5rem;
}
.buttonLoadFoto::before {
  content: "Carica Foto";
}

.buttonLoadFoto:disabled {
  opacity: 0.5;
}
